body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 1000px;
}
/* 헤더 */
.header{
  display: flex;
  position: absolute;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}
.logo{
  width: 260px;
  height: 60px;
}
.headline_list{
  display: flex;
  list-style: none;
}
/* 가장 위쪽의 이미지 */
.top_background{
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.background_img{
  width: 100%;
}
.dark_side{
  background-color: black;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 700px;
  opacity: 0.5;
}
.background_title{
  color: white;
  position: absolute;
  top: 80%;
  left : 50%;
  margin: 0 auto;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 60%;
}
.background_title h1{
  font-size: 100px;
  line-height: 20%;
}
.background_title h3{
  font-size: 30px;
  margin: 0 auto;
}